body {
  padding: 0;
  margin: 0;
  font-family: "Catamaran", sans-serif;
}

a {
  text-decoration: none;
}

.intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.65)),
  url(/assets/images/main-bcg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.fas {
  font-size: 35px;
  color: #698f3f;
  margin-left: 20px;
  margin-top: 25px;
}

.header-center {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.header-detail {
  font-family: "Grand Hotel", cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #698f3f;
  letter-spacing: 8px;
}

.header-title {
  color: #fff;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 1.3;
  margin-top: 2.5rem;
}

.explore {
  text-transform: uppercase;
  background-color: #698f3f;
  padding: 20px 30px;
  letter-spacing: 8px;
  color: #3a3e3b;
  font-size: 15px;
  font-weight: 700;
  outline: 0.2rem solid #698f3f;
  outline-offset: 4px;
}

.content-divider {
  height: 0.5rem;
  background: linear-gradient(to left, #698f3f, #fca311, #698f3f);
}
